<h1> {{title}} </h1>
<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
    <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
    <li><a [routerLink]="['/profile/'+'sadfnndfjnj']" routerLinkActive="active" ariaCurrentWhenActive="page">Profile</a></li>
    <li><a [routerLink]="['/person/'+'Eduardo']" routerLinkActive="active" ariaCurrentWhenActive="page">Person</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>